{% extends "layout.html.twig" %}

{% block navbar %}
    
    <nav>
        <h2>Navbar</h2>
        <ul>
            <li><a href="/index.php">Home</a></li>
            <li><a href="/products.php">Products</a></li>
        </ul>
    </nav>

{% endblock %}