{% extends "layout.html.twig" %}

{% block title %}
    {{parent()}} - Products
{% endblock %}

{% block products %}
    <section>
            <h2>List of Products</h2>
            <ul>
            {% for product in products %}
                <li>{{ product }}</li>
            {% else %}
                <li>Not a products</li>
            {% endfor %}
                <pre>
                    {{ dump(products) }}
                </pre>
            </ul>
        </section>
{% endblock %}